<div class="background-container">
 
 <h1 style="text-align: center;">Contact Us</h1>
<div class="container">
    <div class="box" >
        <div class="box-row">
            <div class="box-cell box1">
<h1>Alex Grocery Shop</h1>
<h2>Phone Number</h2>
<p>(+91)9012345876</p>
<h2>Address</h2>
<p>alexgrocery.com
Gandhi Statue,<br>
   Villianur,Pondicherry.<br>
  605110
</p>

<form >
    <label for="first">
          Username:
      </label>
    <input type="text" 
           id="first"
           name="first" 
           required>

    <label for="password">
          Password:
      </label>
    <input type="password"
           id="password" 
           name="password" 
           required>

      <label>Description</label>     
     <textarea rows="4" cols="50" name="comment" style="width: 100% ">
            Enter text here...</textarea>

    <div class="wrap">
        <button type="submit"
                onclick="solve()">
            Submit
        </button>
    </div>
</form>
</div>

</div>
    </div>
</div>

</div>




  
