################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Aspire_activity/FileContentIndex
/.vs/Aspire_activity/v17
/.vs
