<h1 style="text-align: center;"><b>product Items</b></h1>



<div class="row">
  <div class="column">
    <img src="https://t3.ftcdn.net/jpg/04/67/54/58/360_F_467545859_jrEUtMUe28T9AuzpnQYK9n7tnaOKewnp.jpg" alt="Beverages" style="width:100%;height: 35vh;">
    <p style="text-align: center;"> Beverages</p>
  </div>
  <div class="column">
    <img src="https://media.istockphoto.com/id/871227828/photo/unrecognizable-woman-shops-for-produce-in-supermarket.webp?b=1&s=170667a&w=0&k=20&c=Zgty5rPJD3yryO3TgyqX9-qUNB9Bo7RIPNQxohvD648=" alt="Fruits" style="width:100%; height: 35vh;">
    <p style="text-align: center;"> Fruits</p>
  </div>
  <div class="column">
    <img src="https://images.unsplash.com/photo-1506617420156-8e4536971650?q=80&w=2023&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Cosmetics" style="width:100%;height: 35vh;">
    <p style="text-align: center;"> Cosmetics</p>
  </div>
</div>

<div class="row">
  <div class="column">
    <img src="https://media.istockphoto.com/id/1466696560/photo/household-chemicals-and-laundry-detergent-on-shelf-in-supermarket.jpg?s=612x612&w=0&k=20&c=VU1BQeHDT6Z_JnxG3UpqWr_rDh1wfPM9hmxdWk_j9bw=" alt="Cleaningitems" style="width:100%; height:35vh;">
    <p style="text-align: center;"> Cleaning Items</p>
  </div>
  <div class="column">
    <img src="https://media.istockphoto.com/id/160342236/photo/fruit-and-vegetable-market.jpg?s=612x612&w=0&k=20&c=pC1g3z3Rm8_IH3fe4JREUrwhNZsLk23JMK-_07NNFJA=" alt="Vegetables" style="width:100%; height: 35vh;">
    <p style="text-align: center;"> Vegetables</p>
  </div>
  <div class="column">
    <img src="https://thumbs.dreamstime.com/b/chinatown-snacks-19083846.jpg" alt="Snacks" style="width:100%; height:35vh;">
    <p style="text-align: center;"> Snacks</p>
  </div>
</div>


