<br>
    <div class="background-container">
  
    <br>
    <br>
    <div class="main"> 
        <h1> Login </h1>
       
        <form >
            <label for="first">
                  Username
              </label>
            <input type="text" 
                   id="first"
                   name="first" 
                   placeholder="Enter your Username" required>
            <label for="emailid">
               Emailid
                </label>
              <input type="emailid"
                     id="emailid" 
                     name="emailid" 
                     placeholder="Enter your Emailid" required>

            <label for="password">
                  Password
              </label>
            <input type="password"
                   id="password" 
                   name="password" 
                   placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit"
                        onclick="solve()">
                    Submit
                </button>
            </div>
        </form>
        <!-- <p>Not registered? 
              <a >
                Create an account
            </a>
        </p> -->
   </div> 
</div>

