<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="/stylesheets/forgotpassword.css"> 
     

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


   

    

    <title>Admin change password</title>
</head>
<body>
   

                
                 <form action="/changepassword/update" method="post" >
                    <h1>Change Password for <%= email %></h1>
                   <input type="hidden" id="email" name="email" value="<%= email %>">
                   <label for="password">New Password:</label>
                   <input type="password" id="password" name="password" required>
                   <br>
                   <button type="submit">Update Password</button>
                 </form>
  
</body>
</html>