<!-- Title:Student Result Management System(Version-2)
Author:Nithialakshmi.N
Starting Date:04.06.2024
Last Modified Date:24.06.2024 -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
