
.container {
  display: flex;
}

.side-navbar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;





}
.side-navbar-border{
  border: 2px solid #261a46;
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.product-content {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 1 1 calc(33.333% - 20px); 
  margin: 10px;
  box-sizing: border-box;
}


.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;

 
    border: 2px solid #261a46;
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.product-image {
  width: 100%;
  padding-top: 75%; 
  position: relative;
  overflow: hidden; 
}

.product-image img {
  width: 100%;
  height: 75%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.product-image:hover img {
  transform: scale(1.1); 
}


.product-description {
  text-align: center;
  margin-top: 10px;
  
}

h1{
padding-top: 3px;
}






.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 20px;
}


.product-card button {
  background-color:  #261a46; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s; 
}

.product-card button:hover {
  background-color: #261a46; 
}

.product-card button:active {
  background-color: #261a46; 
}

.product-card button:focus {
  outline: none; 
}




.product-description i {
  color: gold;
}

.filled-star {
  color: gold;
}

.empty-star {
  color: lightgray;
}



.product-image {
  width: 100%;
  height: auto;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.product-image img {
  width: 100%; 
  height: auto; 
}






