


   <div class="background-container">
    <h1 style="text-align: center;">Contact Us</h1>
    <div class="container">
      <div class="box">
        <div class="box-row">
          <div class="box-cell box1">
            <h1>Grocery Mart</h1>
            <h2>Phone Number</h2>
            <p>(+91)9012345876</p>
            <h2>Email Address</h2>
            <p>grocerymart&#64;gmail.com</p>
  
            <h2>Service</h2>
            <p>To reach our customer service team please email us at: customerservice&#64;grocerymart.com</p>
            <p>To submit a customer service request 
              <a href="javascript:void(0);" (click)="showForm()">click here.</a>
            </p>
            <p>customer support number: 1976-146-1200</p>
  
            <div *ngIf="isFormVisible" id="form">
              <form (ngSubmit)="onSubmit()">
                <label for="first">Username:</label>
                <input type="text" id="first" name="first" [(ngModel)]="username" required>
  
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
  
                <label>Description</label>
                <textarea rows="4" cols="50" name="comment" [(ngModel)]="description" style="width: 100%">Enter text here...</textarea>
  
                <div class="wrap">
                  <button type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
