body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
  }


  
  h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
  }
  
  .navbar {
    background-color:  #261a46;
    padding: 10px 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  .navbar-links a.active {
    font-weight: bold;
  }
  
  
  .container {
    margin: 50px auto;
    width: 80%;
  }
  .router-link {
    display: inline-block;
    margin-right: 20px;
  }
  
  .router-outlet {
    margin-top: 50px;
  }
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
   
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }





  .fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
